:root{
  --primary:#971414;
  --secondary: #141220;
  --dark: #002a72;
  --light: #eee;
   }
  
* { 
 margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial Narrow', sans-serif;
   }

body{
  background-color: var(--secondary);
   }

  .display{
    padding: 16px;
    text-align: right;
    background-color: var(--dark);
    color: var(--light);
    font-size: 24px;
    font-weight: 300;
  }

.display span{
    font-size: 19px;
    color: #888;
  }

  button{
    appearance: none;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
     }

   button:hover{
      opacity: 0.9;
    }
  .operators{
      display: flex;
    }
  .operators button{
      flex: 1 1 0%;
      background-color: var(--primary);
      font-weight: 700;
    }

    .digits{
      display: flex;
      flex-wrap: wrap;
    }

  .digits button{
      flex: 11 33.333%;
      max-width: 33.333%;
      background-color: var(--dark);
    }